.form {
  width: 700px;
  background: linear-gradient(#f35454, #8c94efc3);
  background-repeat: no-repeat;
}
input {
  background: linear-gradient(#f35454, #8c94efc3);
  background-repeat: no-repeat;
  border: none;
}
